In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import cross_validation, ensemble, preprocessing, metrics

In [2]:
import pandas #ipython notebook
titanic = pandas.read_csv("titanic_train.csv")
titanic.head(5)
#print (titanic.describe())
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
#print(titanic.describe())
#print(titanic["Sex"].unique())

# Replace all the occurences of male with the number 0.
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1
print(titanic["Embarked"].unique())
titanic["Embarked"] = titanic["Embarked"].fillna('S')
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

['S' 'C' 'Q' nan]

In [3]:
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

print(titanic['Survived'].head())
print(titanic[predictors].head())
titanic_X=titanic[predictors]
titanic_y=titanic['Survived']

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64
   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500         0
1       1    1  38.0      1      0  71.2833         1
2       3    1  26.0      0      0   7.9250         0
3       1    1  35.0      1      0  53.1000         0
4       3    0  35.0      0      0   8.0500         0

In [4]:
alg = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=2, min_samples_leaf=1)
train_X, test_X, train_y, test_y = cross_validation.train_test_split(titanic_X, titanic_y, test_size = 0.3)

In [5]:
# 建立 random forest 模型
forest = ensemble.RandomForestClassifier(n_estimators = 100)
forest_fit = forest.fit(train_X, train_y)

# 預測
test_y_predicted = forest.predict(test_X)

# 績效
accuracy = metrics.accuracy_score(test_y, test_y_predicted)
print(accuracy)

0.8507462686567164

In [6]:
titanic[predictors].head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500         0
1       1    1  38.0      1      0  71.2833         1
2       3    1  26.0      0      0   7.9250         0
3       1    1  35.0      1      0  53.1000         0
4       3    0  35.0      0      0   8.0500         0

In [7]:
titanic[predictors].iloc[0,:]

Pclass       3.00
Sex          0.00
Age         22.00
SibSp        1.00
Parch        0.00
Fare         7.25
Embarked     0.00
Name: 0, dtype: float64

In [8]:
test_y_predicted = forest.predict_proba(titanic[predictors].iloc[0:2,:])
test_y_predicted
# 預測 是0的機率＆是1的機率

array([[0.84, 0.16],
       [0.01, 0.99]])

In [9]:
test_y_predicted[:,1]

array([0.16, 0.99])

In [10]:
# 住宿 
住宿=3000*8
交通票券=3000
娛樂票券=1000
機票=10000
吃飯=1000*8
sum=住宿/2+交通票券+娛樂票券+機票+吃飯
sum

34000.0